<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeyPrint.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeyPrint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <KeyPrint.Settings1>
            <setting name="url" serializeAs="String">
                <value>http://diancan/test</value>
            </setting>
            <setting name="token" serializeAs="String">
                <value>action=send&amp;broadcast=Y&amp;uri=112332&amp;username=f8df247d0b2b4277b122f68c94c2caab</value>
            </setting>
        </KeyPrint.Settings1>
    </applicationSettings>
    <userSettings>
        <KeyPrint.Properties.Settings>
            <setting name="url" serializeAs="String">
                <value>http://diancan/getprint</value>
            </setting>
            <setting name="token" serializeAs="String">
                <value>12344444</value>
            </setting>
            <setting name="PrintTemp" serializeAs="String">
                <value>none</value>
            </setting>
        </KeyPrint.Properties.Settings>
    </userSettings>
</configuration>